.profile__add {
    padding: 0;
    margin: 0 0 0 auto;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: transparent;
    background-image: url('../../../images/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.profile__add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1100px) {
    .profile__add {
        width: 100%;
        max-width: 415px;
        margin-left: 0;
    }
}
