.card__image {
    margin: 0;
    padding: 0;
    height: 282px;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card__image:hover {
    cursor: pointer;
}