.header__button {
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    border: none;
    margin: 0 0 46px 24px;
    padding: 0;
    text-decoration: none;
}

.header__button:hover {
    opacity: 0.6;
}